// Global
@import url(https://res.cloudinary.com/scoiger/raw/upload/v1626946248/ciphextoWeb/fonts/fonts_zmf691.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: #6c0219;
  font-family: CS-Bold;
  color: #fff;
}

// Body Content

.container {
  width: 80%;
  margin: auto;
  padding: 3rem 0;
}

header {
  img {
    display: block;
  }

  .fa {
    margin-bottom: 20px;
    width: 500px;
  }
  .logo {
    width: 300px;
  }
}

// Main Content

main {
  height: auto;
  padding: 4rem 0;
  display: flex;
  align-items: center;
}

.content {
  font-family: CS-Light;
  h2 {
    font-size: 1.8rem;
    letter-spacing: 1px;
    margin-bottom: 20px;
  }
  p {
    font-size: 1.6rem;
    font-family: poppins;
  }
  img {
    width: 250px;
    margin-top: 50px;
  }
}

// Footer Content

.social-links {
  a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding-right: 15px;
    text-transform: uppercase;
    transition: 0.3s;
    &:hover {
      letter-spacing: 3px;
      transition: 0.3s;
    }
  }
}

footer {
  hr {
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    background-color: #fff;
    height: 2px;
    width: 10%;
  }
}

.copyright {
  font-size: 16px;
}

// Responsive

@media screen and (max-width: 1024px) {
  .container {
    width: 85%;
  }

  header {
    .fa {
      width: 100%;
    }
    .logo {
      width: 80%;
    }
  }
}
