@import url(https://res.cloudinary.com/scoiger/raw/upload/v1626946248/ciphextoWeb/fonts/fonts_zmf691.css);
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  background: #6c0219;
  font-family: CS-Bold;
  color: #fff;
}

.container {
  width: 80%;
  margin: auto;
  padding: 3rem 0;
}

header img {
  display: block;
}

header .fa {
  margin-bottom: 20px;
  width: 500px;
}

header .logo {
  width: 300px;
}

main {
  height: auto;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  font-family: CS-Light;
}

.content h2 {
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.6rem;
  font-family: poppins;
}

.content img {
  width: 250px;
  margin-top: 50px;
}

.social-links a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding-right: 15px;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-links a:hover {
  letter-spacing: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer hr {
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
  background-color: #fff;
  height: 2px;
  width: 10%;
}

.copyright {
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 85%;
  }
  header .fa {
    width: 100%;
  }
  header .logo {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */